<a href="https://colab.research.google.com/github/ameenoorraseed/Python/blob/main/R_03_of_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Looping or Iterative Statments:

Python programming language provides following types of loops to handle looping requirements. Python provides three ways for executing the loops. While all the ways provide similar basic functionality, they differ in their syntax and condition checking time.


While Loop:

In python, while loop is used to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed.

Syntax :


while (expression):
  statement(S)

In [ ]:
# sequence -> continuous -> list -> strings -> tuples

for letter in 12:

    print("letter :",letter)

TypeError: ignored

In [ ]:
for letter in 'aeiou':
    print("letter :",letter)

letter : a
letter : e
letter : i
letter : o
letter : u

In [ ]:
for i in range(5): #0,1,2,3,4
    print(i)

In [ ]:
i = 45# 57 #69 #81
while i<77: #1
    print(i) 
    i=i+12

# 45
# 57
# 69

45
57
69

In [ ]:

i = 52

while i<77 and i>50:

    print(i) 
    i=i+8

In [ ]:
# Iterative Statements -  while loop
num = 5
while (num >= 0):
  print(num)
  num -= 1

#Continue - keyword

In [ ]:
0  1  2  3  4  5  6  7  8  9

In [ ]:
# CONTINUE
# I should skip the current iteration and move on to the next one
for i in range(10):
    if i%2==0:
        continue 
        print("it is skipped")
        print("it is skipped") 
    # else:
    #     print(i)

In [ ]:
for i in range(3):
    if i%2==0:
        print("it is not skipped skipped")
        continue 
        print(2+2)

it is not skipped skipped
it is not skipped skipped

In [ ]:

num = 6
while num <= 12:  
    num = num + 1
    if num % 2 == 0:
        #continue #skip
        print('hello')
    else:
        print(num)
    
# num = 9

7
hello
9
hello
11
hello
13

In [ ]:
# Iterative Statements - while loop

num = 3

if num % 2 == 1 : 
    num = num - 1

while num <= 12:
    print(num)              
    num = num + 2

2
4
6
8
10
12

In [ ]:
print(not '')

#Break

In [ ]:
for i in range(10):
    if i==4: # stop the entire loop
        break
    else:
        print(i)

0
1
2
3

In [ ]:
for i in range(10):
    if i == 4 or i == 7: # skip that particular iteration
        continue
    else:
        print(i)

0
1
2
3
5
6
8
9

In [ ]:
#all controls are bound to the user
i=0 #initialize_counter
while not False: #start
    if i==4: # stop
        break
    print(i)
    i+=1 #counter_increment

0
1
2
3

In [ ]:
# Iterative Statements - while loop
num = 5
if num%2 == 1: 
  num = num -1 
while 'test one' :
  print(num)        
  num = num + 2
  
  if num >= 12: 
    break

4
6
8
10

In [ ]:
# Iterative Statements - while loop
num = 6
if num%2 == 1: 
  num = num -1
while 'value': # any variable or object that has a value 
  print(num)  
  num = num + 2
  if num >= 12: 
    break

6
8
10

In [ ]:
#'' [] () {} 0.0 False

In [ ]:
# Iterative Statements - while loop
num = 6
if num%2 == 1 : 
  num = num -1
while not 0:
  print(num)
  num = num + 2
  if num >= 12:
    break

6
8
10

In [ ]:
# Iterative Statements - while loop
num = 6
if num%2 == 1 : 
  num = num -1
while 'roja': # None is false and not None is true
  print(num)  #6 8 10 
  num = num + 2
  if num >= 12: 
    break

6
8
10

#Difference between break and continue
continue:loop will be skip at particular iteration.it will jump to next iteration
break; completely stop based on the condition.

In [ ]:
#write your own example

In [ ]:
num=8
if num%2==0:
  num=num-1
while "aashvi" :
    print(num)
    num=num+2
    if num>=12:
      break

7
9
11

#ASCII

In [ ]:
'abc' > 'ABC'
#97 > 65

True

In [ ]:
'RoJA' > 'RojA'
#false

In [ ]:
'Ro12' < 'Ji21'
#true

False

In [ ]:
'123' > 'hi'

#48 > 97
#false

False

In [ ]:
#print('mouse'<'mOuse')

#ASCII - ORD - CHR
#91<118
# 0 - 48 
# A - 65-90
# a - 97-122
#print(ord('a'))
#print(chr(ord(chr(97))))

In [ ]:
'1' -> it will consider ascii values
1 -> the original value

In [ ]:
'1' > 'a'

False

In [ ]:
# get the character from number
chr(64)

'@'

In [ ]:
# get the number from  character
ord('*')

42

In [ ]:
for i in range(3000,3500):
    print(chr(i),end=' ')

In [ ]:
for i in range(3000,3500):
    print(chr(i),end=' ')

ஸ ஹ ஺ ஻ ஼ ஽ ா ி ீ ு ூ ௃ ௄ ௅ ெ ே ை ௉ ொ ோ ௌ ் ௎ ௏ ௐ ௑ ௒ ௓ ௔ ௕ ௖ ௗ ௘ ௙ ௚ ௛ ௜ ௝ ௞ ௟ ௠ ௡ ௢ ௣ ௤ ௥ ௦ ௧ ௨ ௩ ௪ ௫ ௬ ௭ ௮ ௯ ௰ ௱ ௲ ௳ ௴ ௵ ௶ ௷ ௸ ௹ ௺ ௻ ௼ ௽ ௾ ௿ ఀ ఁ ం ః ఄ అ ఆ ఇ ఈ ఉ ఊ ఋ ఌ ఍ ఎ ఏ ఐ ఑ ఒ ఓ ఔ క ఖ గ ఘ ఙ చ ఛ జ ఝ ఞ ట ఠ డ ఢ ణ త థ ద ధ న ఩ ప ఫ బ భ మ య ర ఱ ల ళ ఴ వ శ ష స హ ఺ ఻ ఼ ఽ ా ి ీ ు ూ ృ ౄ ౅ ె ే ై ౉ ొ ో ౌ ్ ౎ ౏ ౐ ౑ ౒ ౓ ౔ ౕ ౖ ౗ ౘ ౙ ౚ ౛ ౜ ౝ ౞ ౟ ౠ ౡ ౢ ౣ ౤ ౥ ౦ ౧ ౨ ౩ ౪ ౫ ౬ ౭ ౮ ౯ ౰ ౱ ౲ ౳ ౴ ౵ ౶ ౷ ౸ ౹ ౺ ౻ ౼ ౽ ౾ ౿ ಀ ಁ ಂ ಃ ಄ ಅ ಆ ಇ ಈ ಉ ಊ ಋ ಌ ಍ ಎ ಏ ಐ ಑ ಒ ಓ ಔ ಕ ಖ ಗ ಘ ಙ ಚ ಛ ಜ ಝ ಞ ಟ ಠ ಡ ಢ ಣ ತ ಥ ದ ಧ ನ ಩ ಪ ಫ ಬ ಭ ಮ ಯ ರ ಱ ಲ ಳ ಴ ವ ಶ ಷ ಸ ಹ ಺ ಻ ಼ ಽ ಾ ಿ ೀ ು ೂ ೃ ೄ ೅ ೆ ೇ ೈ ೉ ೊ ೋ ೌ ್ ೎ ೏ ೐ ೑ ೒ ೓ ೔ ೕ ೖ ೗ ೘ ೙ ೚ ೛ ೜ ೝ ೞ ೟ ೠ ೡ ೢ ೣ ೤ ೥ ೦ ೧ ೨ ೩ ೪ ೫ ೬ ೭ ೮ ೯ ೰ ೱ ೲ ೳ ೴ ೵ ೶ ೷ ೸ ೹ ೺ ೻ ೼ ೽ ೾ ೿ ഀ ഁ ം ഃ ഄ അ ആ ഇ ഈ ഉ ഊ ഋ ഌ ഍ എ ഏ ഐ ഑ ഒ ഓ ഔ ക ഖ ഗ ഘ ങ ച ഛ ജ ഝ ഞ ട ഠ ഡ ഢ ണ ത ഥ ദ ധ ന ഩ പ ഫ ബ ഭ മ യ ര റ ല ള ഴ വ ശ ഷ സ ഹ ഺ ഻ ഼ ഽ ാ ി ീ ു ൂ ൃ ൄ ൅ െ േ ൈ ൉ ൊ ോ ൌ ് ൎ ൏ ൐ ൑ ൒ ൓ ൔ ൕ ൖ ൗ ൘ ൙ ൚ ൛ ൜ ൝ ൞ ൟ ൠ ൡ ൢ ൣ ൤ ൥ ൦ ൧ ൨ ൩ ൪ ൫ ൬ ൭ ൮ ൯ ൰ ൱ ൲ ൳ ൴ ൵ ൶ ൷ ൸ ൹ ൺ ൻ ർ ൽ ൾ ൿ ඀ ඁ ං ඃ ඄ අ ආ ඇ ඈ ඉ ඊ උ ඌ ඍ ඎ ඏ ඐ එ ඒ ඓ ඔ ඕ ඖ ඗ ඘ ඙ ක ඛ ග ඝ ඞ ඟ ච ඡ ජ ඣ ඤ ඥ ඦ ට ඨ ඩ ඪ ණ

In [ ]:
ord('అ')

3077

In [ ]:
ord('ൽ')

3453

#Home work
try to understand the given program

In [ ]:
ord('a')

97

In [ ]:
chr(97)

'a'

In [ ]:
chr(ord('a'))

In [ ]:
'a' > 'n'

False

# Coding challenge
Convert the given loop into for loop

In [ ]:
# Iterative Statements - while loop
Letter = 'A'
while (Letter <= 'G'): #A   B   C  D  E  F   G 
  print(Letter)        #65  66
  Letter = chr(ord(Letter)+1)

A
B
C
D
E
F
G

In [ ]:
start=65
end=72
for i in range(65,72):
  print(chr(i))

A
B
C
D
E
F
G

In [ ]:
letter="S"
while(letter<="Z"):
    print(letter)
    letter=chr(ord(letter)+1)

S
T
U
V
W
X
Y
Z

In [ ]:
a="A"

print(a)
chr(ord(a)+1)

A

'B'

In [1]:
ord('a')

97

In [8]:
chr(23)

'\x17'

In [11]:
chr(ord('a')+1)

'b'

In [ ]:
Letter = 'a'
while (Letter <= 'g'):
  print(Letter)
  Letter=chr(ord(Letter)+1)

In [ ]:
Letter = 65
while (Letter <= 72):
  print(chr(Letter))
  Letter = ord(chr(Letter))+1

# Exercise
Try the above code in for loop

#Loops with else part

In [ ]:
# Convert the given program into for loop

In [22]:
i=0 
while i<=4: # if the loop naturally terminates
    print(i)
    i+=1
else:
    print('successfully completed')

0
1
2
3
4
successfully completed

In [ ]:
i=0 
while not False: # infinite
    if i==4: 
         break # manually stopping the loop
    print(i)
    i+=1 
else:
    print('successfully completed')

0
1
2
3

In [24]:
# Iterative Statements - while loop with else
Letter = 'A'
while (Letter <= 'G'):
  print(Letter)
  Letter = chr(ord(Letter)+1)
else:
  print ("Out of While Loop")

A
B
C
D
E
F
G
Out of While Loop

In [26]:
# Iterative Statements - while loop with else
Letter = 'A'
while (True):
  print(Letter)
  Letter = chr(ord(Letter)+1)
  if Letter >= 'G':
    break
else:
  print ("Out of While Loop")

A
B
C
D
E
F

In [27]:
for i in range(4):
    print(i)

0
1
2
3

In [29]:
for i in range(4):
    print(i)
else:
    print("successfully completed")

0
1
2
3
successfully completed

In [32]:
for i in range(25):
    if i <= 2:
        print(i)
else:
    print("successfully completed")

0
1
2
successfully completed

#PASS VS NONE

In [ ]:
a = None
b = pass # it is an empty statement

In [39]:
#pass
for i in range(1):
    pass
    print(i)

0

In [38]:
#ellipses
for i in range(1):
    ...
    print(i)

0

In [ ]:
for i in range(4):
    if i==2:
        continue
    else:
        print(i)

In [43]:
# Iterative Statements - while loop with else
# else can be skipped using break
Letter = 'A'
while True:
  print(Letter)
  Letter = chr(ord(Letter)+1)
  if (Letter <= 'G'): 
    continue
  else : 
    break
else:
  print ("Sample")

print ("**********\nGuess why sample is not printed ???")

A
B
C
D
E
F
G
**********
Guess why sample is not printed ???

In [44]:
for i in range(2):
    print(i)

0
1

In [45]:
for i in range(2):
 print(i)

0
1

#Check your understanding

In [47]:
s = 'apple' #-> sequence -> continuous one

s[3]

'l'

In [48]:
len(s)

5

In [53]:
a ='abc12adsfcc'

for i in range(len(a)):
    print(a[i],'is at',i)

a is at 0
b is at 1
c is at 2
1 is at 3
2 is at 4
a is at 5
d is at 6
s is at 7
f is at 8
c is at 9
c is at 10

In [56]:
b = [1,2,3,'a','b']
#print(b[3])

for i in range(len(b)):
    print(b[i])

1
2
3
a
b

In [57]:
b = (1,2,3,'a','b')

for i in range(len(b)):
    print(b[i])

1
2
3
a
b

#Nested loops

In [ ]:
# N Loops
  # E Loops
    # S Loops
      # T Loops
        # E Loops
          # D Loops

In [ ]:


 #i     0  1   2 
 #j     0  1

#i0  j0
#i0  j1
#i1  j0
#i1  j1
#i2  j0
#i2  j1
for i in range(4): #0 1 2 3 
    for j in range(3): # 0 1 2
        for k in range(2): # 0 1
            print(i,j,k)

In [ ]:
for i in range(4): #0 1 2 3 
    print(i)

In [ ]:
for outernumber in range(4): #0 1 2 3 
    for j in range(3): #0 1 2
        print(outernumber,j)

In [ ]:
i=0
while i<4:
    print(i)
    i+=1

In [ ]:
i=0
while i<4:
    j=0
    while j<3:
        print(i,j)
        j=j+1
    i=i+1

In [ ]:
#Nesting of loops
OutNum = 1 
InnNum = 1
while OutNum <= 5:
  while InnNum <= OutNum:
    print(OutNum,end = ' ')
    InnNum = InnNum + 1
  OutNum += 1
  InnNum = 1
  print('\n')

Make suitable changes to print the pattern as follows :

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
for rows in range(5,0,-1): #1,2, 3,4,5
    for cols in range(rows):
        print(rows,end='')
    print()

In [ ]:
for i in range(3):  
    for j in range(3):  
        print(i,j)
    print()

In [ ]:
1
22
333
4444

In [ ]:
n = int(input('enter any number')) #use floor division
count=0
while n>0:
    n //= 10
    count +=1
print("the total no of digits are",count)

In [ ]:
101%10

#Exercises

In [ ]:
#WRITE A PROGRAM TO ADD THE LAST DIGITS OF THE NUMBERS
123,555,6696,777777

#OUTPUT: 3+5+6+7 = 21
n = int(input("enter the number of numbers to add last digit: "))
sum=0
for i in range(n):
    num = int(input("enter the numbers one by one"))
    sum = sum + (num %10)
print(sum)

In [ ]:
n = int(input("enter the number of numbers to add last digit: "))
sum = 0
i=0
while i<

For Loops :  For loops are used for sequential traversal. For example: traversing a list or string or array etc.  

Syntax : 
 for iterator_var in sequence:
    statements(s)
  
Iterator is an object which allows a programmer to traverse through all the elements of a collection, regardless of its specific implementation.

For example Integers,Lists, Tuples, Dictionaries, strings

**For can be used to iterate over a range and iterators.**

In [ ]:
# for loops
for Num in range(1,6):
  print (Num)

In [ ]:
#for with step values
for Num in range(1,10,2):
  print(Num, end= ' ')

In [ ]:
#for with step values
st = 3
for Num in range(1,10,st): # step value is fixed in the begining of For loop execution, it cannot be altered during execution
  print(Num, end= ' ')
  st += 1

1 4 7

In [ ]:
for Letter in range(ord('A'),ord('Z'),8):
  print (chr(Letter), end = ' ')

Write suitable code to print Integers in the reverse order as follows : 5 4 3 2 1

In [ ]:
for Num in range(5,0,-1) :
  print(Num,end = ' ')

In [ ]:
# with strings
Word = "Online Training"
#l=[[1,2],[3,4]]
for letter in Word :
  print(letter, end = '\n',sep='@')

In [ ]:
Word = "Online Training"
print(Word,sep='@')

In [ ]:
# with Lists
WordLst = ['One','Two','Three']
for Word in WordLst:
  print(Word , sep='@',end = ' ')

In [ ]:
# Nesting of while loops
for Num in range(0,6):
  print(Num ,":  Stars :",end = ' ')
  for Inn in range(1,Num+1):
    print('*',end = ' ')
  print('\n')

In [ ]:
# Nested with Lists
WordLst = ['One','Two','Three']
for Word in WordLst:
  print(Word, ' : ', end = ' ')
  for letter in Word:
    print(letter , end = ' ')
  print('\n')

In [ ]:
#for with else block
for Num in range(1,5):
  print(Num)#,end = ' ')
  break

  
print('hello')
#else:
#  print("\n in ELSE block")

#Usage of 
1. for....else
2.  while....else

In [ ]:
#Using Control statements continue
#for with else block
for Num in range(1,5): #1,2,3,4
   if Num % 2==0:
     break
   print (Num,end = ' ')
else:
  print("\n in ELSE block")

In [ ]:
#Using Control statements by pass Else Block
#for with else block
for Num in range(1,10):
   if (Num % 2==0):
     continue
   print (Num,end = ' ')
   if (Num >= 8):
     break
else:
  print("\n in ELSE block")

In [ ]:
# Empty loops
for Num in range(1,20):
  pass

A final note on loop nesting is that we can put any type of loop inside of any other type of loop. For example a for loop can be inside a while loop or vice versa.

In [ ]:
#We can mix up for and while
Num = 1
while (Num <= 5):
  for Inn in range(1, Num+1):
    print(Inn,end =  ' ')
  print('\n')
  Num += 1

In [ ]:
a = 'hello'
print(id('h'))
#a[0]='0'
#print(id(a[0]))

b = ['h','e','l','l','o']
b[0]="one"
print(id(b))
print(id(b[0]))

[Sorting Video](https://www.youtube.com/watch?v=Cq7SMsQBEUw)

[simple example](https://i0.wp.com/montessorifromtheheart.com/wp-content/uploads/2019/04/Sorting-Wooden-Beads-Math-Preschool.jpg)

In [ ]:
def bubbleSort(ar):
  n = len(arr)
  for i in range(n):
  # Last i elements are already in correct position
    for j in range(0, n-i-1):
      # Swap if the element found is greater than the next element
      if ar[j] > ar[j+1] :
        ar[j], ar[j+1] = ar[j+1], ar[j]
# Driver code to test above
ar = [55,33,2,1,24,21,45]
bubbleSort(ar)
print ("Sorted array is:")
for i in range(len(ar)):
   print (ar[i])